/* Shared css */
*{
    margin: 0;
}
body{
    max-width: 1536px;
    margin: 0 auto;
    background-color: #FFF8F3;
}
.orange-color{
    color: #FD6E0A;
}
.btn{
    padding: 15px;
    border-radius: 10px;
    background-color: #FD6E0A;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.btn:hover{
    background-color: #964002;
}


/* Main css */
.header-area{
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size:6%, 40% ;
    background-position: bottom left, bottom right;
    margin-bottom: 130px;
    /* max-width: 1237px; */
}

/* Nav section css */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1237px;
    margin: 0 230px 0 230px;
    padding-top: 51px;
}
.nav-container h1{
    font-size: 45px;
    font-weight: 800;
}
.nav-items-container{
    display: flex;
    align-items: center;
    gap: 51px;
}
.nav-items-container li{
    list-style: none;
}
.nav-items-container li a{
    text-decoration: none;
    color: #474747;
}


/* Hero section css */
.hero-section-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 38px; */
    /* border: 2px solid; */
    width: 1255px;
    margin: 46px 230px 0 230px;
    padding: 0 15px;
}
.hero-section-text-container h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.hero-section-text-container h1{
    font-size: 85px;
    font-weight: bold;
}
.hero-section-text-container p{
    font-size: 18px;
    line-height: 30px;
    color: #474747;
    padding: 20px 0 30px 0;
}
.hero-img-container img{
    width: 485px;
    vertical-align: center;
}


/* About Me Section CSS */
#about-section-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 131px 156px;
    text-align: center;
    background-color: #FFF8F3;
}
.about-section-heading h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-me-personal-info{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info-card p{
    color: #757575;
}


/* skills-section-css */
#skills-section-container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 130px;
}
.skills-section-title{
    text-align: center;
}
.skills-section-title h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.skills-section-title p{
    color: #757575;
    line-height: 30px;
    font-size: 18;
    margin-bottom: 50px;
}
.skills-card-container{
    display: flex;
    gap: 24px;
}
.skills-card{
    box-shadow: 5px 5px 15px rgb(84, 82, 82);
    padding: 0 33px 30px 33px;
    border-radius: 15px;
}
.skills-card img{
    border-radius: 6px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}



/* summary section css */
#summary-section-container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.summary-title h1{
    font-size: 35px;
    margin: 130px 0 0 0;
    /* text-align: left; */
}
.education-experience-section-container{
    display: flex;
    margin-top: 113px;
    gap: 71px;
}
.education-container h1{
    text-align: left;
}
.education-card-container{
    text-align: left;
    margin-top: 30px;
}
.education-card h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.education-card h5{
    font-size: 14px;
    color: #757575;
}
.education-card p{
    font-size: 12px;
    color: #757575;
    margin: 20px 0 60px 0;
}

.experience-container h1{
    text-align: left;
}
.experience-card-container{
    text-align: left;
    margin-top: 30px;
}
.experience-card h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.experience-card h5{
    font-size: 14px;
    color: #757575;
}
.experience-card p{
    font-size: 12px;
    color: #757575;
    margin: 20px 0 60px 0;
}